
 .pig {
    gap: 35px;
    text-align: center;
    font-weight: bold;
 }
 .deep {
    width: 1455px;
    height: 550px;
    position: absolute;
    background-image: url(https://forever.travel-assets.com/flex/flexmanager/images/2025/03/24/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1.png)
 }
  
    
 
.rib {
    color: white;
    border-radius: 30px;
    border-color: blue;
    background-color: blue;
    font-weight: bold;
}
.ink {
    border-radius: 60px;
    background-color: white;
    width: 900px;
    height: 60px;
    text-align: center;
}
.pen {
    position: absolute;
    width: 1000px;
    height: 60px;
    border-radius: 30px;
    background-color:black;
    color: white;
    top:700px;
    left: 300px;
    align-items: center;
}
.tip {
    text-align: center;
}
.pencil {
    border-radius: 30px;
    color: white;
    background-color: lightblue;
}
.pencil:hover {
    color: darkcyan;
}
.kk {
    border-radius: 40px;
    position: absolute;
    top:800px;
    left: 30px;
     
 

}
.dodo {
    border-radius: 40px;
    position: absolute;
    top: 814px;
    left: 300px;
}
.uuuh {
    position:absolute;
    top: 755px;
    left: 50px;
    font-weight: bold;
    color: black;
    
}
.gigi {
    position: absolute;
    top: 814px;
    left: 560px;
}
.bibi {
    position: absolute;
    top: 814px;
    left: 830px;
}
.yet {
    position: absolute;
    top: 814px;
    left: 1090px;
}
.speed {
    position: absolute;
    top: 814px;
    left: 1340px;
}
.vuvu {
    position:absolute;
    top: 1034px;
    left: 50px
}
.top {
    position: absolute;
    top:1154px;
    left: 30px;
    font-weight: bold;
}
.nep {
    position:absolute;
    top:1154px;
    left: 290px;
    font-weight: bold;
}
.drew {
    position: absolute;
    top:1154px;
    font-weight: bold;
    left: 564px;
}
.hy {
    position: absolute;
    top: 1640px;
    left: 30px;
    font-weight: bold;
}
.save {
    position:absolute;
    top: 1640px;
    left: 650px;
    font-weight: bold;
}